Repository Rishit-dagli/Rishit-dagli.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: article, actions

Add Monitor ML projects article
  _posts/2021-08-24-how-to-monitor-ml-projects-on-mobile-devices.md
  assets/how-to-monitor-ml-projects-on-mobile-devices/cover.png
  assets/how-to-monitor-ml-projects-on-mobile-devices/distributed-training.png
  assets/how-to-monitor-ml-projects-on-mobile-devices/install-webapp.png
  assets/how-to-monitor-ml-projects-on-mobile-devices/monitoring-dashboard.png
  assets/how-to-monitor-ml-projects-on-mobile-devices/unique-id.png
Labels: article

Add My Journey article
  _posts/2021-07-28-my-journey-how-i-got-into-research-and-ai.md
  assets/my-journey-how-i-got-into-research-and-ai/a-robot.png
  assets/my-journey-how-i-got-into-research-and-ai/code.png
  assets/my-journey-how-i-got-into-research-and-ai/cover.png
  assets/my-journey-how-i-got-into-research-and-ai/hackathon.jpg
  assets/my-journey-how-i-got-into-research-and-ai/hackathon.png
  assets/my-journey-how-i-got-into-research-and-ai/learning.png
  assets/my-journey-how-i-got-into-research-and-ai/tpu.png
Labels: article

Fix canonical link
  _posts/2021-07-28-my-journey-how-i-got-into-research-and-ai.md
Labels: article

Add Plant AI article
  _posts/2021-06-01-plant-ai-student-ambassador-green-a-thon-activity-report.md
  assets/plant-ai-student-ambassador-green-a-thon-activity-report/cover.png
  assets/plant-ai-student-ambassador-green-a-thon-activity-report/model-in-action.png
  assets/plant-ai-student-ambassador-green-a-thon-activity-report/training-images.png
  assets/plant-ai-student-ambassador-green-a-thon-activity-report/web-landing-page.png
Labels: article

Add Skewness and Kurtosis article
  _posts/2021-06-16-skewness-and-kurtosis-in-statistics-explained.md
  assets/skewness-and-kurtosis-in-statistics-explained/cover.png
  assets/skewness-and-kurtosis-in-statistics-explained/curve.png
  assets/skewness-and-kurtosis-in-statistics-explained/eyballing-median.png
  assets/skewness-and-kurtosis-in-statistics-explained/height-vs-population.png
  assets/skewness-and-kurtosis-in-statistics-explained/integral.png
  assets/skewness-and-kurtosis-in-statistics-explained/median.png
  assets/skewness-and-kurtosis-in-statistics-explained/positive-and-negative-kurtosis.png
  assets/skewness-and-kurtosis-in-statistics-explained/prob-density-curve.png
  assets/skewness-and-kurtosis-in-statistics-explained/skew.png
Labels: article

Fix typo
  _posts/2021-06-16-skewness-and-kurtosis-in-statistics-explained.md
Labels: article

Create an action to check for dead links
  .github/workflows/dead-links.yml
Labels: actions

Create action to check for typos
  .github/workflows/labeler.yml
  .github/workflows/typos.yml
Labels: actions

Update link checker
  .github/workflows/dead-links.yml
  .github/workflows/labeler.yml
Labels: actions

Fix typos
  _posts/2021-06-18-gradient-centralization.md
  _posts/2022-02-01-graph-neural-networks-explained-with-examples.md
Labels: article

Remove PR
  .github/workflows/typos.yml
Labels: actions

Create action to check for typos (#22)
  .github/workflows/labeler.yml
  .github/workflows/typos.yml
  _posts/2021-06-18-gradient-centralization.md
  _posts/2022-02-01-graph-neural-networks-explained-with-examples.md
Labels: article, actions

Create an action to check for dead links (#21)
  .github/workflows/dead-links.yml
  .github/workflows/labeler.yml
Labels: actions

Update dead-links.yml
  .github/workflows/dead-links.yml
Labels: actions

Create merge-prs.yml
  .github/workflows/merge-prs.yml
Labels: actions

Update merge-prs.yml
  .github/workflows/merge-prs.yml
Labels: actions

Auto Merge PRs (#23)
  .github/workflows/merge-prs.yml
Labels: actions

Add How to Build Better Machine Learning Models
  _posts/2021-04-23-how-to-build-better-machine-learning-models.md
  assets/how-to-build-better-machine-learning-models/cache.png
  assets/how-to-build-better-machine-learning-models/cover.png
  assets/how-to-build-better-machine-learning-models/early-stopping.png
  assets/how-to-build-better-machine-learning-models/random-vs-grid.png
  assets/how-to-build-better-machine-learning-models/ref-table.png
  assets/how-to-build-better-machine-learning-models/speedup-on-cloud-tpu.png
Labels: article

Update 2021-04-23-how-to-build-better-machine-learning-models.md
  _posts/2021-04-23-how-to-build-better-machine-learning-models.md
Labels: article

Update 2021-04-23-how-to-build-better-machine-learning-models.md
  _posts/2021-04-23-how-to-build-better-machine-learning-models.md
Labels: article

Update 2021-04-23-how-to-build-better-machine-learning-models.md
  _posts/2021-04-23-how-to-build-better-machine-learning-models.md
Labels: article

Add Kubeflow Part 1 article
  _posts/2022-07-26-kubeflow-machine-learning-on-kubernetes-part-1.md
  assets/kubeflow-machine-learning-on-kubernetes-part-1/components.png
  assets/kubeflow-machine-learning-on-kubernetes-part-1/cover.png
  assets/kubeflow-machine-learning-on-kubernetes-part-1/how-does-kubeflow-fit.png
  assets/kubeflow-machine-learning-on-kubernetes-part-1/kubeflow-dashboard.png
  assets/kubeflow-machine-learning-on-kubernetes-part-1/kubeflow-on-k8s.png
  assets/kubeflow-machine-learning-on-kubernetes-part-1/ml-systems.png
Labels: article

Typos
  _posts/2022-07-26-kubeflow-machine-learning-on-kubernetes-part-1.md
Labels: article

Add Kubeflow Notebooks article
  _posts/2022-08-08-kubeflow-notebooks-ml-experimentation-made-easier-part-2.md
  assets/kubeflow-notebooks-ml-experimentation-made-easier-part-2./cover.png
  assets/kubeflow-notebooks-ml-experimentation-made-easier-part-2./create-notebook-server.png
  assets/kubeflow-notebooks-ml-experimentation-made-easier-part-2./create-tensorboard.png
  assets/kubeflow-notebooks-ml-experimentation-made-easier-part-2./create-volume.png
  assets/kubeflow-notebooks-ml-experimentation-made-easier-part-2./custom-images.png
  assets/kubeflow-notebooks-ml-experimentation-made-easier-part-2./manage-volumes.png
  assets/kubeflow-notebooks-ml-experimentation-made-easier-part-2./multi-tenancy.png
  assets/kubeflow-notebooks-ml-experimentation-made-easier-part-2./notebook-server-connect.png
  assets/kubeflow-notebooks-ml-experimentation-made-easier-part-2./notebook-server-structure.png
  assets/kubeflow-notebooks-ml-experimentation-made-easier-part-2./notebook-storage.png
  assets/kubeflow-notebooks-ml-experimentation-made-easier-part-2./tensorboard-homepage.png
Labels: article

Fix date
  _posts/2022-08-08-kubeflow-notebooks-ml-experimentation-made-easier-part-2.md
Labels: article

Add hyperparameter tuning article
  _posts/2021-01-22-the-art-of-hyperparameter-tuning-in-deep-neural-nets-by-example.md
  assets/the-art-of-hyperparameter-tuning-in-deep-neural-nets-by-example/b-rmsprop.png
  assets/the-art-of-hyperparameter-tuning-in-deep-neural-nets-by-example/cover.png
  assets/the-art-of-hyperparameter-tuning-in-deep-neural-nets-by-example/exp-decay.png
  assets/the-art-of-hyperparameter-tuning-in-deep-neural-nets-by-example/fit.png
  assets/the-art-of-hyperparameter-tuning-in-deep-neural-nets-by-example/lr.png
  assets/the-art-of-hyperparameter-tuning-in-deep-neural-nets-by-example/number-of-neurons.png
  assets/the-art-of-hyperparameter-tuning-in-deep-neural-nets-by-example/search.png
Labels: article

Add ML with Android 11 article
  _posts/2020-08-27-machine-learning-with-android-11-whats-new.md
  assets/machine-learning-with-android-11-whats-new/cover.png
  assets/machine-learning-with-android-11-whats-new/filters.png
  assets/machine-learning-with-android-11-whats-new/import-model.png
  assets/machine-learning-with-android-11-whats-new/model-metadata.png
  assets/machine-learning-with-android-11-whats-new/model.png
  assets/machine-learning-with-android-11-whats-new/on-device-ml.png
  assets/machine-learning-with-android-11-whats-new/publishers.png
Labels: article

Add Super linter blog
  _posts/2022-08-30-github-super-linter.md
  assets/github-super-linter/black-example.png
  assets/github-super-linter/cover.png
Labels: article

Fix spellings
  _posts/2022-07-26-kubeflow-machine-learning-on-kubernetes-part-1.md
Labels: article

Fix spellings
  _posts/2022-08-08-kubeflow-notebooks-ml-experimentation-made-easier-part-2.md
Labels: article

Add Kubeflow pipelines blog
  _posts/2022-12-27-kubeflow-pipelines-orchestrating-machine-learning-workflows-part-3.md
  assets/kubeflow-pipelines-orchestrating-machine-learning-workflows-part-3/completed-run.png
  assets/kubeflow-pipelines-orchestrating-machine-learning-workflows-part-3/cover.png
  assets/kubeflow-pipelines-orchestrating-machine-learning-workflows-part-3/example-graph.png
  assets/kubeflow-pipelines-orchestrating-machine-learning-workflows-part-3/pipeline-and-components.png
  assets/kubeflow-pipelines-orchestrating-machine-learning-workflows-part-3/pre-packaged.png
  assets/kubeflow-pipelines-orchestrating-machine-learning-workflows-part-3/start-a-run.png
  assets/kubeflow-pipelines-orchestrating-machine-learning-workflows-part-3/upload-pipeline.png
  assets/kubeflow-pipelines-orchestrating-machine-learning-workflows-part-3/volumes.png
  assets/skewness-and-kurtosis-in-statistics-explained/cover.png
Labels: article

Fix typo
  _posts/2022-12-27-kubeflow-pipelines-orchestrating-machine-learning-workflows-part-3.md
Labels: article

Add note
  index.md
Labels: none

Add Review of Domain Generalization using Causal Matching: Causal Learning Series
  _posts/2023-01-20-domain-generalization-using-causal-matching.md
Labels: article

Fix typo
  _posts/2023-01-20-domain-generalization-using-causal-matching.md
Labels: article

Fix few more typos
  _posts/2023-01-20-domain-generalization-using-causal-matching.md
Labels: article

LaTeX and markdown problems
  _posts/2023-01-20-domain-generalization-using-causal-matching.md
Labels: article

Minor change
  _posts/2023-01-20-domain-generalization-using-causal-matching.md
Labels: article

Add compression techniques article
  _posts/2023-03-06-statistical-learning-using-compression.md
  assets/statistical-learning-using-compression/example-problem.png
  assets/statistical-learning-using-compression/trade-off.png
Labels: article

Fix spellings
  _posts/2023-03-06-statistical-learning-using-compression.md
Labels: article

.github/labeler.yml:

---
article:
  - any: ['_posts/*']

actions:
  - any: ['.github/workflows/*']
